
<h3> SF Muni </h3>
<p>A map of San-Francisco with Nextbus live data  </p>

<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
  <label>Select Route</label>
</button>
<sf-map>

</sf-map>
<mat-menu #menu="matMenu">
  <app-sidemenu>
  </app-sidemenu>

</mat-menu>

<!-- <mat-drawer-container class="example-container">
<mat-drawer mode="side" opened="true">
<app-sidemenu>
</app-sidemenu>
</mat-drawer>

<mat-drawer-content><sf-map> </sf-map></mat-drawer-content>
</mat-drawer-container> -->



<!-- <bus></bus> -->
